.btn{
    @apply 
    text-slate-50 
    bg-lightBlue 
    rounded-sm 
    px-4 
    py-2
    hover:bg-sky-500
    hover:text-white
    hover:shadow-md
    hover:transition-colors
    transition-colors
    ; 
}

.btn2{
    @apply 
    text-darkBlack
    border-2
    border-gray-800
    rounded-sm
    transition-colors 
    px-4 
    py-2
    hover:bg-lightBlack
    hover:text-slate-50
    hover:shadow-md
    hover:transition-colors
    ;
}