/*SWIPER*/
.swiper-button-next:after, 
.swiper-button-prev:after {
  font-size: 35px !important; /* Cambia el tamaño de las flechas */
  color: rgb(255, 255, 255); /* Cambia el color de las flechas */
}
.swiper-pagination-bullet-active{
  background-color: aliceblue !important;
}

.slider-img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 500px;
}
@media screen and (max-width: 768px) {
  .slider-img{
    height: 200px;
  }
}

//slick                   
.slider-prod{
  display: flex !important; 
  justify-content: center;
  align-items: center;
}

.slick-next:before, .slick-prev:before {
  color: #000000;
}