//New Clases

.icon{
    font-family: "Quarterback";
    @apply uppercase font-semibold;
    transition: 100ms;
    &:hover{
        text-shadow: 0px 0px 25px #fff;
        transition: 100ms;
    }
}

//DropDown
.dropDown-active{
    animation: slideInFromTop 700ms ease;

    @keyframes slideInFromTop {
        0% {
            opacity: 0;
            transform: translateY(-96px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.dropLeft-active{
    animation: slideInFromLeft 700ms ease;

    @keyframes slideInFromLeft {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

