//New Clases

.icon{
    font-family: "Quarterback";
    @apply uppercase font-semibold;
    transition: 100ms;
    &:hover{
        text-shadow: 0px 0px 25px #fff;
        transition: 100ms;
    }
}



//Underline de links en el nav
.underlineEffect{
    display: inline-block;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 1.5px;
        width: 100%;
        @apply bg-lightBlue;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.6s ease-out;
        will-change: transform;
    }
    &:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

/****** FADING SIBLINGS ON HOVER (Hermanos que se desvanecen en hover) *******/

/*Se coloca la clase 'container-siblings' al contenedor de los divs padre y la clase'sibling' a cada div hijo*/
.sibling{
    transition: transform 200ms, filter 200ms;
    &:hover{
        transform: scale(1.1);
    }
}
.container-siblings:has(.sibling:hover) > .sibling:not(:hover){
    filter: brightness(0.5) saturate(0.5) contrast(0.5) blur(1px);
    transform: scale(0.9);
}


//DropDown
.dropDown-active{
    animation: slideInFromTop 700ms ease;

    @keyframes slideInFromTop {
        0% {
            opacity: 0;
            transform: translateY(-96px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.dropLeft-active{
    animation: slideInFromLeft 700ms ease;

    @keyframes slideInFromLeft {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

