@font-face {
    font-family: 'Telgraf';
    src: url('../assets/fonts/PPTelegraf-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quarterback';
    src: url('../assets/fonts/Quarterback-6YrgD.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}