//Underline de links en el nav
.underlineEffect{
    display: inline-block;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 1.5px;
        width: 100%;
        @apply bg-lightBlue;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.6s ease-out;
        will-change: transform;
    }
    &:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}